<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Deposit</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Add Deposit</h1>
    <form method="POST">
        <label for="dollars">Amount:</label>
        <input type="text" name="dollars" required>
        
        <label for="memo">From:</label>
        <input type="text" name="memo">

        
        
        <input type="submit" value="Submit">
    </form>
    <a href="/">Back to Home</a>
</body>
</html>
