<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PyCash</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Welcome to PyCash</h1>
    <div class="menu">
        <a href="{{ url_for('add_payment') }}" class="button">Make Payment</a>
        <a href="{{ url_for('add_deposit') }}" class="button">Add Deposit</a>
        <a href="{{ url_for('view_finances') }}" class="button">Show Transactions</a>
        <form action="{{ url_for('clear_transactions') }}" method="post" style="display: inline;">
            <button type="submit" class="button">Clear Transactions</button>
        </form>
    </div>
</body>
</html>
